{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Collector</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %} {% endblock head %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="{% url 'car-index' %}">
          <img src="{% static "images/car-collector app.svg" %}" alt="Car Collector Logo" />
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'car-index' %}">All Cars</a></li>
            <li><a href="{% url 'modification-index' %}">All Modifications</a></li>
            <li><a href="{% url 'car-create' %}">Add a Car</a></li>
            <li><a href="{% url 'modification-create' %}">Add a Modification</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
