{% block content %}

<section class="page-header">
  <h1>All Car Modifications</h1>
</section>

<section class="card-container">
  {% for modification in modification_list %}
    <div class="card" style="border-color: {{ modification.brand }}">
      <div class="card-bg" style="background-color: {{ modification.color }}">

      </div>
      <a href="{% url 'modification-detail' modification.id %}">
        <div class="card-content">
          <h2>{{ modification.name }}</h2>
          <p>A {{ modification.brand }} </p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}