{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cars/car-details.css' %}"/>
{% endblock %}

{% block content %}
<section class="car-container">
  <div class="car-img">
   
  </div>
  <div class="car-details">
    <h1>{{ car.make }} {{ car.model }}</h1>
    <h2>Year: {{ car.year }}</h2>
  
  </div>
  <div class="car-actions">
    <a href="{% url 'car-update' car.id %}" class="btn warn">Edit</a>
    <a href="{% url 'car-delete' car.id %}" class="btn danger">Delete</a>
  </div>

</section>


<div class="fillings-modification-container">
  <section class="fillings">
    <div class="subsection-title">
      <h2>Fillings</h2>
      
    </div>

    <!--Filling form -->
    <h3>Add a Filling</h3>
    <form
      action="{% url 'add-filling' car.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ fillings.as_p }}
      <button type="submit" class="btn submit">Add Filling</button>
    </form>

    {% comment %} Filling  {% endcomment %}
    <h3>Past Fillings</h3>
    {% if car.filling_set.all.count %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Gas</th>
          </tr>
        </thead>
        <tbody>
          {% for filling in car.filling_set.all %}
          <tr>
            <td>{{filling.date}}</td>
            <td>{{filling.get_gas_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>⚠️ {{ car.make }} {{ car.model }} has not been filled!</p>
      </div>
    {% endif %}

  </section>
  
  <section class="modifications">
    <div class="subsection-title">
      <h2>Modifications</h2>
      </div>

      <!-- displaying a car's modifications -->
    <h3>{{ car.make }} {{ car.model }}'s Modifications</h3>
    <div class="subsection-content">
      {% if car.modifications.count %} 
        {% for modification in car.modifications.all %}
          <div class="modification-container">
            <div class="color-block" style="background-color: {{ modification.color }}"></div>
            <a href="{% url 'modification-detail' modification.id %}">
              <p>A {{ modification.brand }} {{ modification.name }}</p>
            </a>
            <form action="{% url 'remove-modification' car.id modification.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove modification</button>
            </form>
          </div>
        {% endfor %} 
      {% else %}
        <p class="no-modifications">{{ car.make }} {{ car.model }} doesn't have any modifications!</p>
      {% endif %}
    </div>

    <h3>Available Modifications</h3>
    <div class="subsection-content">
      {% if modifications.count %} 
        {% for modification in modifications.all %}
          <div class="modification-container">
            <div class="color-block" style="background-color: {{ modification.color }}"></div>
            <a href="{% url 'modification-detail' modification.id %}">
              <p>A {{ modification.brand }} {{ modification.name }}</p>
            </a>
            <form action="{% url 'associate-modification' car.id modification.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give Modification</button>
            </form>
          </div>
        {% endfor %} 
      {% else %}
        <p class="all-modifications">{{ car.make }} {{ car.model }} already has all the available modifications 🥳</p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}